// Description: Global styles

@use '../styles/variables';

.page-title {
  font-size: variables.$font-size-xl;
  color: variables.$primary-text;
}

.card-title {
  padding-bottom: 10px;
}

.col {
  padding: 10px;
}

.contact-us-icon {
  color: variables.$bs-cyan;
}

// Card styles
.card {
  &.card-payments, &.card-admin-payments {
    border-top: 7px solid variables.$bs-teal;
  }

  &.card-maintenance, &.card-admin-maintenance {
    border-top: 7px solid variables.$bs-orange;
  }

  &.card-contact, &.card-admin-contact {
    border-top: 7px solid variables.$bs-cyan;
  }

  &.card-account, &.card-admin-users {
    border-top: 7px solid variables.$bs-blue;
  }

  &.card-settings, &.card-admin-settings {
    border-top: 7px solid variables.$bs-purple;
  }

  .card-title {
    font-size: variables.$font-size-lg;
    color: variables.$primary-text;
  }
}

// Maintenance and Payments history
.history {
  max-height: 65vh;
  overflow-y: scroll;
  @media screen and (max-width: 576px) {

  }
    
  .created-at, maintenance-id {
    font-size: 14px;
  }

  .maintenance-id {
    font-size: 12px;
  }
}
