// Description: Maintenance page styling

@use '../styles/breakpoints';
@use '../styles/variables';

.requests {
  max-height: 500px;
  overflow-y: scroll;
  @media screen and (max-width: 576px) {

  }
    
  .created-at, maintenance-id {
    font-size: 14px;
  }

  .maintenance-id {
    font-size: 12px;
  }
}