@use "../styles/variables";

.header {
  position: relative;
  padding-left: calc(variables.$sidebar-width + 25px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  height: variables.$header-height;

  .logo {
    height: variables.$header-height;
  }
}