// Description: Header styles

@use "../styles/variables";
@use "../styles/breakpoints";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 25px 10px calc(variables.$sidebar-width + 25px);
  height: variables.$header-height;

  @media screen and (max-width: breakpoints.$sm) {
    margin-left: 0;
    padding: 5px;
  }

  .logo {
    height: variables.$header-height;

  }

  .address-title {
    font-size: variables.$font-size-xs;
    color: variables.$muted-text;
    margin-right: 4px;

    @media screen and (max-width: breakpoints.$sm) {
      display: block;
      margin-right: 0;
    }

    @media screen and (max-width: breakpoints.$xs) {
      display: none;
    }
  }

  .address {
    font-size: variables.$font-size-sm;
    color: variables.$secondary-text;
  }

  .btn-logout {
    margin-left: 25px;
    margin-bottom: 6px;
    color: variables.$bs-blue;

    @media screen and (max-width: breakpoints.$sm) {
      padding-right: 40px;
    }

    @media screen and (max-width: breakpoints.$md) {
      padding-right: 40px;
      margin-left: 0;

    }
  }


}