@use "../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(variables.$sidebar-width + 25px);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
  height: variables.$header-height;

  .logo {
    height: variables.$header-height;
    padding-top: 10px;
  }

  .pre-address {
    font-size: 14px;
    color: variables.$muted-text;
    margin-right: 4px;
  }

  .address {
    font-size: 15px;
    color: variables.$secondary-text;
  }

  .logout {
    margin-left: 25px;
  }
}