// Description: App styles

@use "styles/variables";
@use "styles/breakpoints";

// PrivateLayout 
.private-layout {
  padding: 20px 20px 20px calc(variables.$sidebar-width + 20px);
  // padding-left: variables.$sidebar-width;
  background-color: variables.$main-content-background;
  height: calc(100vh - variables.$header-height - 20px); // 20px comes from the header margin

  @media screen and (max-width: breakpoints.$sm) {
    padding-left: 20px;
    // padding-left: 0;
  }
}

// GuestLayout
.guest-layout {
  background-color: variables.$login-background;
  height: 100vh;
}

