// Description: App styles

@use "styles/variables";


// PrivateLayout 
.private-layout {
  padding-left: variables.$sidebar-width;
  background-color: variables.$main-content-background;
  height: 100%;
}

